/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/data/*
!/var/data/data.sqlite
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
/.buildpath
/.project
/.settings/
/.dbeaver-data-sources.xml
/Scripts/
/src/FrontBundle/FrontSrc/node_modules/*
app/Resources/
