.board-column__title
  text-align center
  color #484848
  
.row
  margin-top 15px
  margin-bottom 15px

.board-column
  padding-left 5px
  padding-right 5px
  
.board-column__list
  padding 2px !important
  background-color #ededed
  min-height  240px
  border-radius 4px
  &>.list-group-item
    margin 5px 2px

.task-card
  font-size  0.75rem
  border-radius 5px
  &>.card__title
    display block
    font-weight bold
  &>.card__status-backlog
    background-color graygit
  &>.card__status-done
    background-color green
  &>.card__status-in_progress
    background-color orange
  &>a.edit-link
    padding 0
    width 25px
    height 25px

.pointer
  cursor  pointer

.drag-and-drop
  cursor  move

.busted-max
  background-color  #f18381 !important


.column-in_progress .card
  background-color  yellow

.column-done .card
  background-color  greenyellow


@keyframes fadein-animation
  from
    opacity 0
  to
    opacity 1

@keyframes fadeout-animation
  from
    opacity 1
  to
    opacity 0

.fade-enter-active
  animation  fadein-animation 0.5s

.fade-leave-active
  animation  fadeout-animation 0.5s
